# OS & Editor junk
.DS_Store
*.log
*.class
*.pyc
*.swp
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter & Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Firebase local cache & node modules
.firebase/
node_modules/

# Environment config
*.env
!config.env
lib/config/*.env

# Android Studio & iOS build files
/android/app/debug/
/android/app/profile/
/android/app/release/
/ios/Flutter/.last_build_id
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Generated plugin files
**/generated_plugin_registrant.*
**/generated_plugins.*
*.g.dart

# Miscellaneous
*.symbols
app.*.map.json
public/
