# OS & Editor junk
.DS_Store
*.log
*.class
*.pyc
*.swp
.idea/
*.iml
*.ipr
*.iws

# Flutter & Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Firebase local cache & node modules
.firebase/
node_modules/

# Environment config
.env

# Android Studio & iOS build files
/android/app/debug/
/android/app/profile/
/android/app/release/
/ios/Flutter/.last_build_id

# Miscellaneous
*.symbols
app.*.map.json

public/
